@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: ProximaNova, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
